{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>О нас</h1><br><br>
    <div class="about">
        <p>Данный веб сайт позволяет клиентам сети фитнесс-центра записываться на тренировки. Также сами тренеры могут контролировать, когда и какие тренировки у них намечены.
        Вы можете зайти в свою учетную запись и с лешкостью записаться на тренировку. Всё что вам надо сделать - выбрать желаемое время тренировки, дисциплину, и филиал клуба.
        Система сама подберет для вас свободного тренера.</p><br>
        <p>Сам же тренер, войдя в учетную запись, сможет проверить какие тренировки им предстоит провести.</p><br>
        <p>График работы фитнесс-центра: с <b>8:00</b> до <b>23:00</b>. Тренировки на которые записывается клиент длятся по 1 часу.</p>
    </div>
{% endblock %}