{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}

<h1>Проверка статуса абонемента</h1>
<form method="post">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }} {{ form.login(size = 20) }} <br>
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

    {% if data %}
        <div class="clientinfo">
            <table>
                <tr>
                    <td>
                        Выбранный пользователь
                    </td>
                    <td>
                        {{ data[1] }}
                    </td>
                </tr>

                {% if data[0] %}
                    <tr>
                        <td>
                            Количество оставшихся занятий
                        </td>
                        <td>
                            {{ data[2] }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Действия
                        </td>
                        <td>
                            <form method="post" class="tableEvents">
                                <input type="submit" formmethod="post" formaction="{{ url_for('addSub') }}" value="Пополнить абонемент">
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            Количество оставшихся занятий
                        </td>
                        <td>
                            Нет абонемента
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Действия
                        </td>
                        <td>
                            <form method="post" class="tableEvents">
                                <input type="submit" formmethod="post" formaction="{{ url_for('addSub') }}" value="Создать абонемент и пополнить его">
                            </form>
                        </td>
                    </tr>



                {% endif %}
            </table>
        </div>
    {% endif %}

{% endblock %}