{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Просмотр тренировок</h1>
    {% if not data %}
        <br>
        <h2>Вы пока не записаны ни на одну тренировку</h2>
    {% else %}
        <div class="table-wrap">
            <table>
                <tr>
                    <th>Дата: </th>
                    <th>Время тренировки</th>
                    <th>ФИО тренера</th>
                    <th>Тип тренировки</th>
                    <th>Зал проведения тренировки</th>
                    <th>Адрес филиала</th>
                    <th>Удалить тренировку</th>
                </tr>
                {% for row in data %}
                        <tr style=
                            {% if row[9] == 1 %}
                                "background-color: rgba(205,29,43,0.75)"
                            {% elif row[9] == 0 %}
                                "background-color: rgba(105,205,104,0.75)"
                            {% endif %}
                        >
                        <td>{{ row[1] }}</td>
                        <td>С {{ row[2] }} до {{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td class="tdForButton">
                            <form method="post" class="inTable">
                                <input type="hidden" value="{{ row[0] }}" name="id">
                                <input type="submit" class="buttonInTable" value="Отказаться от тренировки" formaction="{{ url_for('DelWorkout')}}" formmethod="post">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}