{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Просмотр тренировок</h1>

    {% if not data %}
        <br>
        <h2>Вам по расписанию пока не надо вести ни одной тренировки.</h2>
    {% else %}
        <div class="table-wrap">
            <table>
                <tr>
                    <th>Дата: </th><th>Время:</th><th>ФИО клиента</th><th>Тип тренировки</th><th>Зал проведения тренировки</th>
                </tr>
                {% for row in data %}
                    <tr style=
                        {% if row[6] == 1 %}
                            "background-color: rgba(205,29,43,0.75)"
                        {% elif row[6] == 0 %}
                            "background-color: rgba(105,205,104,0.75)"
                        {% endif %}
                    >
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <p><span style="color: rgba(205,30,21,0.75)">Красным</span> помечены сегодняшние тренировки. Не забудьте о них. </p>

{% endblock %}