{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Просмотр тренировок</h1>

    <div class="table-wrap">
        <table>
            <tr>
                <th>Дата: </th><th>Время:</th><th>ФИО клиента</th><th>Тип тренировки</th><th>Зал проведения тренировки</th>
            </tr>
            {% for row in data %}
                <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}